body {
    background-image: url(https://cdn.freecodecamp.org/curriculum/css-cafe/beans.jpg);
    padding: 20px;
    font-family: sans-serif;
}

.menu {
   background-color: burlywood;
   width: 80%;
   max-width: 500px;
   padding: 20px;
   margin: 0 auto;
}

h1, h2, p {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin: 0 0 15px;
}

.established {
    font-style: italic;
}

h1, h2 {
    font-family: Impact, serif;
}

img {
    display: block;
    margin: 0 auto;
}

.item p {
    display: inline-block;
    margin: 5px 0;
    font-size: 18px;
}

.flavor, .dessert {
    width: 75%;
    text-align: left;
    
}

.price {
    width: 25%;
    text-align: right;
}

hr {
    height: 2px;
    background-color: brown;
    border-color: brown;
}

.bottom-line {
    margin-top: 24px;
}

footer {
    font-size: 14px;
}

.address {
    margin-bottom: 5px;
}

a {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: brown;
}

a:active {
    color: white;
}

